@use '../../sass/abstracts/' as *;

.user-auth__page {
  min-height: 100vh;
  background-color: var(--bg-cl-light);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3.5rem;

  .auth-form__wrapper {
    width: min(100%, toRem(476));
    box-shadow: var(--comp-shadow);
    background-color: var(--comp-cl);
    padding: 2.5rem;
    border-radius: var(--comp-rad);

    form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      p > a {
        color: var(--ac-cl-1);
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
